# change as per the requirement

version: '1.0'
stage: training
file: data.yml # same as current filename; do not change this
actions:
  - name: data_extraction
    enable: true
    functions:
      module_file_path: {{ project }}.common.data_loader:load_data
      kwargs:
        project_name: {{ project }}
        model_name: {{ model }}
        process_name: {{ model }}_data