import importlib
import os
import argparse
from datetime import datetime
from pyspark.sql import SparkSession

from loguru import logger

from {{ project }}.common.config_utils import (
    load_project_config,
    load_task_config
)

def main():
    parser = argparse.ArgumentParser()

    parser.add_argument(
        "--runtime_env",
        type=str,
        metavar="runtime_env",
        required=True,
        help="Runtime environment name (e.g., dev, qa, prod)",
    )

    parser.add_argument(
        "--yml_task",
        type=str,
        metavar="yml_task",
        required=True,
        help="Respective YAML task",
    )

    parser.add_argument(
        "--project_name",
        type=str,
        metavar="project_name",
        required=True,
        help="Respective project name",
    )

    parser.add_argument(
        "--model_name",
        type=str,
        metavar="model_name",
        required=True,
        help="Respective model name",
    )

    parser.add_argument(
        "--stage_name",
        type=str,
        metavar="stage_name",
        required=True,
        help="Respective stage name",
    )

    parser.add_argument(
        "--task_key",
        type=str,
        metavar="task_key",
        required=True,
        help="Respective task name of the pipeline",
    )

    parser.add_argument(
        "--task_run_id",
        type=str,
        metavar="task_run_id",
        required=True,
        help="Respective task runid of the pipeline",
    )

    parser.add_argument(
        "--job_name",
        type=str,
        metavar="job_name",
        required=True,
        help="Respective job name of the pipeline",
    )

    parser.add_argument(
        "--job_id",
        type=str,
        metavar="job_id",
        required=True,
        help="Respective jobid of the pipeline",
    )

    parser.add_argument(
        "--job_run_id",
        type=str,
        metavar="job_run_id",
        required=True,
        help="Respective job runid of the pipeline",
    )

    args = parser.parse_args()
    runtime_env = args.runtime_env.lower()
    yml_task = args.yml_task
    project_name = args.project_name
    model_name = args.model_name
    stage_name = args.stage_name
    task_key = args.task_key
    task_run_id = args.task_run_id
    job_name = args.job_name
    job_id = args.job_id
    job_run_id = args.job_run_id

    spark = SparkSession.builder.getOrCreate()

    # load config from TOML based on runtime_env
    env_context = load_project_config(
        project_name=project_name, env_name=runtime_env
    )
    if not env_context:
        raise ValueError(f"Environment '{runtime_env}' not found in config.toml")

    # load and render task YAML
    process_config = load_task_config(
        project_name=project_name, model_name=model_name, stage_name=stage_name, env_context=env_context, which_file=yml_task
    )
    actions_config = process_config.get("actions", [])

    for aconf in actions_config:
        func_conf = aconf["functions"]
        module_file_path = func_conf["module_file_path"]
        module_path, func_name = module_file_path.split(":")
        module = importlib.import_module(module_path)
        func = getattr(module, func_name)

        run_status = ""
        error_details = ""
        start_time = datetime.now()
        try:
            # assumes 'spark' is provided by Databricks environment
            result = func(spark=spark, func_conf=func_conf)
            run_status = "SUCCESS"
            error_details = ""
        except Exception as e:
            run_status = "FAILED"
            error_details = str(e)
            logger.error(f"Failure: {error_details}")
        end_time = datetime.now()
        duration_minutes = round((end_time - start_time).total_seconds() / 60, 2)

        logger.success(f"Ended the setup for {stage_name}; {project_name} - {model_name}")
    
    return True


if __name__ == "__main__":
    main()
